@import '../_variables';

.animated-text-vertical {
  position: absolute;
  left: 0;
  top: $gap-desktop * -1;
  width: 60px;
  height: calc(100% + $gap-desktop * 2);
  background-color: $white;
  overflow: hidden;

  @media (max-width: $breakpoint-tablet-width) {
    display: none;
  }

  &__container {
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: column;
    animation: carousel-vertical 14s linear infinite;
  }

  &__item {
    width: 100%;
    min-height: 3.84%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100%;
    height: calc(100% - 20px);
    display: block;

    @media (max-width: $breakpoint-laptop-width) {
      height: calc(100% - 14px);
    }
  }
}

@keyframes carousel-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
