@import '../_variables';

.animated-text {
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: $white;
  padding: 30px 0;

  &--fullscreen {
    width: var(--viewportWidth);
  }

  &__container {
    width: 200%;
    display: flex;
    justify-content: space-around;
    animation: carousel 18s linear infinite;

    // &--reverse {
    //   animation: carousel 18s linear infinite reverse;
    // }

    @media (max-width: $breakpoint-mobile-width) {
      width: 600%;
    }
  }

  &__item {
    width: 6.25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: calc(100% - 24px);
    display: block;
  }
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
