@import '../_variables';

.animated-text {
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: $white;
  padding: 25px 0;

  &--fullscreen {
    width: var(--viewportWidth);
  }

  &__container {
    width: 200%;
    display: flex;
    justify-content: space-around;
    animation: carousel 24s linear infinite;

    @media (max-width: $breakpoint-desktop-width) {
      width: 340%;
      animation: carousel 38s linear infinite;
    }
    @media (max-width: $breakpoint-laptop-width) {
      width: 600%;
      animation: carousel 50s linear infinite;
    }
    @media (max-width: $breakpoint-mobile-width) {
      width: 1200%;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: calc(100% - 14px);
    display: block;
  }
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
