@import '../_variables';

.carousel {
  --first-carusel-number-of-items: 6;
  --second-carusel-number-of-items: 8;

  width: 100%;
  // max-width: $main-max-width;
  text-align: left;
  overflow-x: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  &__container {
    width: calc(var(--first-carusel-number-of-items) * 40%);
    display: flex;
    animation: carousel 16s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    @media (max-width: $main-max-laptop) {
      width: calc(var(--first-carusel-number-of-items) * 70%);
    }
    @media (max-width: $breakpoint-tablet-width) {
      width: calc(var(--first-carusel-number-of-items) * 55%);
      animation-play-state: paused;
    }

    &--second-carousel {
      width: calc(var(--second-carusel-number-of-items) * 40%);

      @media (max-width: $main-max-laptop) {
        width: calc(var(--second-carusel-number-of-items) * 70%);
      }
      @media (max-width: $breakpoint-tablet-width) {
        width: calc(var(--second-carusel-number-of-items) * 55%);
        animation-play-state: paused;
      }
    }
  }

  &__wrapper {
    width: 50%;
    display: flex;
    justify-content: space-around;

    @media (max-width: $breakpoint-tablet-width) {
      width: 100%;
      &:last-child {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    position: relative;
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: inherit;
  }

  &__image {
    width: calc(100% - 20px);
    display: block;
  }

  //

  &__header {
    position: relative;
    padding: 0 10px;
  }

  &__info {
    position: absolute;
    left: 10px;
    top: 6px;
    font-size: $global-font-size-m;
    font-weight: $global-font-weight;
    letter-spacing: 0;
    text-transform: uppercase;
    letter-spacing: -0.01em;

    @media (max-width: $breakpoint-small-mobile-width) {
      font-size: $global-font-size-s;
    }
  }

  &__title {
    font-size: $global-font-size;
    font-weight: $global-font-weight;
    padding: 0;
    margin: 25px 0 0 0;

    @media (max-width: $breakpoint-mobile-width) {
      font-size: $global-font-size-m;
      line-height: 1.2;
    }
  }

  &__cta {
    font-size: $global-font-size-l;
    font-weight: $global-font-weight;
    text-transform: uppercase;
    margin: 3px 0 0 0;
    color: $main-color;
    text-decoration: underline;

    @media (max-width: $breakpoint-mobile-width) {
      font-size: $global-font-size-m;
      margin: 0;
    }
  }
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
