@import '../_variables';

.header {
  width: 100%;
  max-width: $main-max-width;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: -50px 0;

  @media (max-width: $breakpoint-desktop-width) {
    max-width: $main-max-laptop;
  }
  @media (max-width: $main-max-laptop) {
    justify-content: space-around;
  }
  @media (max-width: $breakpoint-mobile-width) {
    margin: 0 0 -35px;
  }

  &__title {
    width: 100%;
    font-weight: normal;
  }

  &__span {
    width: 100%;
    height: 0;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 550px;
    margin: 0 auto;

    @media (max-width: $breakpoint-mobile-width) {
      max-width: 80%;
    }
  }
}
