@import '../_variables';

.navigation {
  width: 100%;
  max-width: $main-max-width;
  overflow-x: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  &__container {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 80px;
  }

  &__item {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__image {
    width: auto;
    max-width: 100%;
    display: block;
  }
}
