@import '../_variables';

.paragraph {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media (max-width: $breakpoint-tablet-width) {
    padding: 40px 0;
  }

  &__span {
    max-width: 80%;
    font-size: $global-font-size-xl;

    @media (max-width: $breakpoint-tablet-width) {
      max-width: 85%;
    }

    @media (max-width: $breakpoint-mobile-width) {
      font-size: $global-font-size-l;
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
