@import '../_variables';

.paragraph {
  width: 100%;
  max-width: $main-max-width;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media (max-width: $breakpoint-tablet-width) {
    padding: 40px 0;
  }

  &__span {
    max-width: 60%;
    font-size: $global-font-size-xl;

    @media (max-width: $breakpoint-laptop-width) {
      max-width: 85%;
    }

    @media (max-width: $breakpoint-mobile-width) {
      font-size: $global-font-size-l;
    }
  }
}
