@import '../_variables';

.player {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    width: 100%;
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
  }

  &__video {
    width: 100%;
    display: block;
    aspect-ratio: 16/9;
    background-color: $light-grey;

    @media (max-width: $breakpoint-tablet-width) {
      aspect-ratio: 1/1;
    }
  }

  &__audio-btn {
    position: absolute;
    width: 3vw;
    height: 3vw;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background-color: white;
    bottom: 3%;
    left: 3%;
    cursor: pointer;
  }

  &__audio-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    display: block;
    height: 100%;
    opacity: 1;

    &--on {
      opacity: 0;
    }
  }
}
