@import '../_variables';

.product {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: aqua;
  transform: translate(-50%, -50%);
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &--before {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }

  &:hover {
    z-index: 20;

    .product__circle {
      transform: scale(1.1);
    }
    .product__link {
      display: flex;
      z-index: 20;
    }
  }

  &:focus {
    outline: none;
    z-index: 10;

    .product__circle {
      transform: scale(1.1);
    }
    .product__link {
      display: flex;
      z-index: 10;
    }
  }

  &__circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $white;
    position: relative;
    transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: active-dot 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media (max-width: $breakpoint-mobile-width) {
      width: 20px;
      height: 20px;
    }
  }

  &__link {
    position: absolute;
    top: 38px;
    left: 2px;
    z-index: 100;
    color: $black;
    background-color: $white;
    font-size: $global-font-size-m;
    text-decoration: none;
    animation: show-link 0.6s ease-out;
    display: none;
    overflow: hidden;

    &--left {
      left: auto;
      right: 2px;
    }

    &--top {
      top: auto;
      bottom: 38px;
    }
  }

  &__text-wrapper {
    width: 100%;
    display: flex;
    min-width: 100px;
    flex-direction: column;
    padding: 7px 10px 9px;
    text-align: center;
  }

  &__title {
    min-width: 110px;
    color: $black;
    text-align: left;
  }

  &__price {
    color: $black;
    font-size: $global-font-size-m;
    text-align: left;

    @media (max-width: $breakpoint-mobile-width) {
      font-size: $global-font-size-m;
    }
  }

  &__cta {
    text-decoration: underline;
    color: $black;
    text-align: left;
  }
}

@keyframes active-dot {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes show-link {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
