@import '../_variables';

.title {
  font-size: 34px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.2;

  @media (max-width: $breakpoint-mobile-width) {
    font-size: 24px;
  }
}
