doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title LP
    meta(name='description' content='...')

  .background.background--js
  main.main
    include ../partials/header.pug

    include ../partials/gallery-with-text.pug
    include ../partials/gallery-fullscreen-1.pug

    include ../partials/packshots-1.pug
    include ../partials/animated-text.pug

    include ../partials/gallery-two-columns-1.pug
    include ../partials/gallery-1.pug
    include ../partials/gallery-two-columns-with-background.pug

    include ../partials/paragraph-1.pug
    include ../partials/gallery-two-columns-2.pug

    include ../partials/paragraph-1.pug
    include ../partials/gallery-1.pug

    include ../partials/paragraph-1.pug
    include ../partials/gallery-fullscreen-2.pug
    include ../partials/packshots-1.pug

    include ../partials/paragraph-1.pug
    include ../partials/gallery-horizontal-1.pug
    include ../partials/button.pug

  script.
    (function () {
    var scrollAnimationItems = document.querySelectorAll('.product--js');
    var animationStartDistance = 0;
    var animationStartClassName = 'product--before';
    var getRandomNumber = (min, max) =>
    Math.floor(Math.random() * (max - min + 1)) + min;
    var animationOnScroll = () => {
    scrollAnimationItems.forEach((item) => {
    var itemTop = item.getBoundingClientRect().top;
    var itemBottom = item.getBoundingClientRect().bottom;
    var windowHeight = window.innerHeight;
    item.style.transitionDelay = `0.${getRandomNumber(0, 5)}s`;
    if (
    itemTop - windowHeight < 0 - animationStartDistance &&
    itemBottom > animationStartDistance
    ) {
    item.classList.remove(animationStartClassName);
    } else {
    item.classList.add(animationStartClassName);
    }
    });
    };
    window.addEventListener('scroll', animationOnScroll);
    window.addEventListener('load', animationOnScroll);
    window.addEventListener('resize', animationOnScroll);
    })();

  script.
    (function () {
    var galleryItems = document.querySelectorAll('.gallery__item--js');
    function menageClasses(tooltip, imageWrapper) {
    var tooltipRightPosition =
    tooltip.getBoundingClientRect().x +
    tooltip.getBoundingClientRect().width;
    var imageWrapperBottomPosition =
    imageWrapper.getBoundingClientRect().y +
    imageWrapper.getBoundingClientRect().height;
    var tooltipBottomPosition =
    tooltip.getBoundingClientRect().y +
    tooltip.getBoundingClientRect().height;
    if (tooltipRightPosition > window.innerWidth) {
    tooltip.classList.add('product__link--left');
    }
    if (tooltipBottomPosition > imageWrapperBottomPosition) {
    tooltip.classList.add('product__link--top');
    }
    }
    function setTooltipPosition(product, imageWrapper) {
    var tooltip = product.querySelector('.product__link--js');
    product.addEventListener('click', function () {
    menageClasses(tooltip, imageWrapper);
    });
    product.addEventListener('mouseover', function () {
    menageClasses(tooltip, imageWrapper);
    });
    }
    galleryItems.forEach(function (galleryItem) {
    var imageWrapper = galleryItem.querySelector('.gallery__wrapper--js');
    var products = galleryItem.querySelectorAll('.product--js');
    products.forEach(function (product) {
    setTooltipPosition(product, imageWrapper);
    });
    });
    })();

  script.
    (function () {
    var scrollbarWidth = window.innerWidth - document.body.clientWidth;
    if (navigator.appVersion.indexOf('Win') != -1) {
    document.body.style.setProperty(
    '--scrollbarWidth',
    `${scrollbarWidth}px`,
    );
    } else {
    document.body.style.setProperty('--scrollbarWidth', `0px`);
    }
    })();

  script.
    (function () {
    var videoTag = document.querySelector('.header__video--js'),
    videoSourceTag = document.querySelector('.header__video--js source'),
    videoSourceSrc = videoSourceTag.getAttribute('src'),
    videoSourceDataSrc = videoSourceTag.getAttribute('data-src'),
    tabletMediaQuery = 764;
    function setVideoSource() {
    var windowWidth = window.innerWidth,
    videoSource = videoSourceTag.getAttribute('src');
    if (windowWidth > tabletMediaQuery) {
    if (videoSource !== videoSourceDataSrc) {
    videoSourceTag.setAttribute('src', videoSourceDataSrc);
    videoTag.load();
    }
    } else {
    if (videoSource !== videoSourceSrc) {
    videoSourceTag.setAttribute('src', videoSourceSrc);
    videoTag.load();
    }
    }
    }
    window.addEventListener('load', setVideoSource);
    window.addEventListener('resize', setVideoSource);
    var audioBtn = document.querySelector('.header__audio-btn--js');
    var audioIconOff = document.querySelector(
    '.header__audio-btn-icon--off-js',
    );
    var audioIconOn = document.querySelector(
    '.header__audio-btn-icon--on-js',
    );
    audioBtn.addEventListener('click', function () {
    if (videoTag.muted === false) {
    videoTag.muted = true;
    audioIconOn.style.opacity = '0';
    audioIconOff.style.opacity = '1';
    } else {
    videoTag.muted = false;
    audioIconOn.style.opacity = '1';
    audioIconOff.style.opacity = '0';
    }
    });
    })();

