doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title LP
    meta(name='description' content='...')

  .background.background--js
  main.main
    include ../partials/header.pug

    include ../partials/gallery-with-text.pug
    include ../partials/gallery-fullscreen-1.pug

    include ../partials/packshots-1.pug
    include ../partials/animated-text.pug

    include ../partials/gallery-two-columns-1.pug
    include ../partials/gallery-1.pug
    include ../partials/gallery-two-columns-with-background.pug

    include ../partials/paragraph-1.pug
    include ../partials/gallery-two-columns-2.pug

    include ../partials/paragraph-1.pug
    include ../partials/gallery-1.pug

    include ../partials/paragraph-1.pug
    include ../partials/gallery-fullscreen-2.pug
    include ../partials/packshots-1.pug

    include ../partials/paragraph-1.pug
    include ../partials/gallery-horizontal-1.pug
    include ../partials/button.pug

  include ../partials/inline-js.pug
