doctype html
html(lang='pl')
  head
    include ../partials/head.pug
    //- include ../partials/ccc-styles.pug

  main.main
    include ../partials/player.pug

    include ../partials/header.pug
    include ../partials/paragraph-1.pug
    
    include ../partials/gallery-fullscreen-1.pug

    include ../partials/gallery-1.pug
    include ../partials/gallery-two-columns-1.pug

    //- carusel
    include ../partials/title.pug
    include ../partials/carousel-1.pug
    include ../partials/button.pug

    include ../partials/gallery-fullscreen-2.pug
    include ../partials/paragraph-1.pug

    include ../partials/gallery-horizontal-1.pug

    include ../partials/gallery-1.pug
    include ../partials/gallery-two-columns-2.pug

    //- carusel
    include ../partials/title.pug
    include ../partials/carousel-2.pug
    include ../partials/button.pug

