link(rel='stylesheet' href='https://ccc.eu/assets/css/critical.min.css?v=1678350388')
link(rel='stylesheet' href='https://ccc.eu/assets/css/content.min.css?v=1678350388')
link(rel='stylesheet' href='https://ccc.eu/assets/css/style.min.css?v=1678350387')