section.gallery.gallery--center
  figure.gallery__item.gallery__item--xl.gallery__item--js
    .gallery__wrapper.gallery__wrapper--js
      a.gallery__link(href='#')
        picture
          source(srcset=require('../assets/images/photo-desktop-1606x903.jpg') media='(min-width: 768px)')
          img.gallery__image(src=require('../assets/images/photo-mobile-764x430.jpg') alt='' loading='lazy')
    figcaption.gallery__header
      h2.gallery__title Consectetur adipisicing elit
      span.gallery__info JU&Zdot; WKR&Oacute;TCE
      a.gallery__link(href='#')
        span.gallery__cta Zobacz