section.gallery.gallery--fullscreen
  figure.gallery__item.gallery__item--m.gallery__item--js
    .gallery__wrapper.gallery__wrapper--js
      a.gallery__link(href='#')
        picture
          source(srcset=require('../assets/images/photo-desktop-1200x1538-2.jpg') media='(min-width: 768px)')
          img.gallery__image(src=require('../assets/images/photo-mobile-382-490-2.jpg') alt='' loading='lazy')

      article.product.product--js(style='left: 58%; top: 34%' tabindex='0')
        .product__circle
        a.product__link.product__link--js(href='https://ccc.eu/pl')
          header.product__text-wrapper
            h3.product__title Półbuty 
            span.product__price 299,99 zł
            span.product__cta zobacz

    figcaption.gallery__header
      h2.gallery__title Consectetur adipisicing elit
      span.gallery__info CAMPAIGN
      a.gallery__link(href='#')
        span.gallery__cta Zobacz

  figure.gallery__item.gallery__item--m.gallery__item--js
    .gallery__wrapper.gallery__wrapper--js
      a.gallery__link(href='#')
        video.gallery__video(autoplay='' loop='' muted='' playsinline='')
          source(src=require('../assets/video/video-1080x1384.mp4') type='video/mp4')
    figcaption.gallery__header
      h2.gallery__title Lorem ipsum dolor sit, amet
      span.gallery__info CAMPAIGN
      a.gallery__link(href='#')
        span.gallery__cta Zobacz

  