section.gallery.gallery--fullscreen
  .gallery__container
    p.gallery__paragraph
      img.gallery__paragraph-image(src=require('../assets/images/logo.svg') style="aspect-ratio: 585.147 / 248.835" alt='')
      span.gallery__paragraph-span
        | Morbi urna risus, tincidunt a dolor vel, iaculis aliquet ante. Vivamus
        | ut lacus eget justo bibendum pharetra. Maecenas nunc mi, porttitor ut
        | velit vel, fringilla dictum justo.

        