section.gallery.gallery--center
  figure.gallery__item.gallery__item--l.gallery__item--js
    .gallery__wrapper.gallery__wrapper--js
      a.gallery__link(href='#')
        picture
          source(srcset=require('../assets/images/photo-desktop-960x1229.jpg') media='(min-width: 455px)')
          img.gallery__image(src=require('../assets/images/photo-mobile-764x980.jpg') alt='' loading='lazy')

      article.product.product--js(style='left: 68%; top: 24%' tabindex='0')
        .product__circle
        a.product__link.product__link--js(href='https://ccc.eu/pl')
          header.product__text-wrapper
            h3.product__title Półbuty 
            span.product__price 299,99 zł
            span.product__cta zobacz

    figcaption.gallery__header
      h2.gallery__title Lorem ipsum dolor sit, amet
      span.gallery__info CAMPAIGN
      a.gallery__link(href='#')
        span.gallery__cta Zobacz