.header
    .header__wrapper
      video.header__video.header__video--js(autoplay='' loop='' muted='' playsinline='')
        source(data-src=require('../assets/video/video-1920x1080.mp4') src=require('../assets/video/video-764x764.mp4') type='video/mp4')
      .header__audio-btn.header__audio-btn--js
        img.header__audio-btn-icon.header__audio-btn-icon--off.header__audio-btn-icon--off-js(src=require('../assets/images/audio-off.svg') alt='')
        img.header__audio-btn-icon.header__audio-btn-icon--on.header__audio-btn-icon--on--js(src=require('../assets/images/audio-on.svg') alt='')
