.gallery
    .gallery__item.gallery__item--xs
      .gallery__wrapper
        a.gallery__link(href='#')
          img.gallery__image(src=require('../assets/images/photo-382x490-1.jpg') alt='' loading='lazy')
      header.gallery__header
        h2.gallery__title Lorem ipsum dolor sit, amet
        span.gallery__info JU&Zdot; WKR&Oacute;TCE
        a.gallery__link(href='#')
          span.gallery__cta Zobacz
    .gallery__item.gallery__item--xs
      .gallery__wrapper
        a.gallery__link(href='#')
          img.gallery__image(src=require('../assets/images/photo-382x490-2.jpg') alt='' loading='lazy')
      header.gallery__header
        h2.gallery__title Consectetur adipisicing elit
        span.gallery__info JU&Zdot; WKR&Oacute;TCE
        a.gallery__link(href='#')
          span.gallery__cta Zobacz
    .gallery__item.gallery__item--xs
      .gallery__wrapper
        a.gallery__link(href='#')
          img.gallery__image(src=require('../assets/images/photo-382x490-1.jpg') alt='' loading='lazy')
      header.gallery__header
        h2.gallery__title Lorem ipsum dolor sit, amet
        span.gallery__info JU&Zdot; WKR&Oacute;TCE
        a.gallery__link(href='#')
          span.gallery__cta Zobacz
    .gallery__item.gallery__item--xs
      .gallery__wrapper
        a.gallery__link(href='#')
          img.gallery__image(src=require('../assets/images/photo-382x490-2.jpg') alt='' loading='lazy')
      header.gallery__header
        h2.gallery__title Consectetur adipisicing elit
        span.gallery__info JU&Zdot; WKR&Oacute;TCE
        a.gallery__link(href='#')
          span.gallery__cta Zobacz