.paragraph
    span.paragraph__span
      | Morbi urna risus, tincidunt a dolor vel, iaculis aliquet ante. Vivamus
      | ut lacus eget justo bibendum pharetra. Maecenas nunc mi, porttitor ut
      | velit vel, fringilla dictum justo.