p.paragraph
  span.paragraph__span
    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    | Lorem Ipsum has been the&nbsp;industry's standard dummy text ever since the 1500s, 
    | when an unknown printer took a galley of type and&nbsp;scrambled it to make a type specimen book.