section.player
  .player__wrapper
    div(style='padding: 56.25% 0 0 0; position: relative')
      iframe.main-video--js(src='https://player.vimeo.com/video/686607149?h=fb6a430eef&background=1&quality=1080p' frameborder='0' allow='autoplay' style='\
      position: absolute;\
      top: 0;\
      left: 0;\
      width: 100%;\
      height: 100%;\
      ' title='CCC video')

    .player__button--js(style='position: absolute; top:0; left:0; width:100%; height:100%;')
    .player__audio-btn.player__audio-btn--js(role='button' tabindex='0' aria-label='' title='')
      img.player__audio-icon.player__audio-icon--js(src=require('../assets/images/audio-off.svg') alt='' aria-hidden='true')
      img.player__audio-icon.player__audio-icon--on.player__audio-icon--on--js(src=require('../assets/images/audio-on.svg') alt='' aria-hidden='true')
