section.player
  .player__wrapper
    video.player__video.player__video--js(autoplay='' loop='' muted='' playsinline='')
      source(data-src=require('../assets/video/video-1920x1080.mp4') src=require('../assets/video/video-764x764.mp4') type='video/mp4')

    .player__audio-btn.player__audio-btn--js(role='button' tabindex='0' aria-label='' title='')
      img.player__audio-btn-icon.player__audio-btn-icon--off.player__audio-btn-icon--off-js(src=require('../assets/images/audio-off.svg') aria-hidden='true' alt='')
      img.player__audio-btn-icon.player__audio-btn-icon--on.player__audio-btn-icon--on-js(src=require('../assets/images/audio-on.svg') aria-hidden='true' alt='')
